*.asv
*.mexa64
*.mexmaci64
*.mlx
*.mexw64
SDR/codegen/
SDR/tx/codegen/
SDR/rx/codegen/
9300paper_figures/*.pdf
SDR/deprecated
*.bbsignals
utils/codegen/*
*.csi
utils/invoke_system_call/codegen/
utils/invoke_system_call/test/codegen/
dev/kalman_filter/codegen/*
.version
.temp_download/
.backup/
SDR/beamforming/codegen/*
dpas/codegen/
dpas/tracking/codegen/
utils/preprocessor/codegen/
.DS_Store
SDR/utils/fastPowerCal/codegen/*
*.wav
music/codegen/*
